.mediaWrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
