.profilePage {
  max-width: 1320px;
  margin: 0 auto;
  padding: 32px var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.workspaceRow {
  display: grid;
  grid-template-columns: 1fr;
}
