.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: var(--text-inverse);
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.4s ease;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  @media (max-width: 768px) {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
  box-sizing: border-box;
  padding: 0 30px;

}

.header {
  text-align: center;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-secondary);
  text-transform: capitalize;
  letter-spacing: -0.02em;
}

.description {
  font-size: 1.1rem;
  color: var(--text-inverse);
  line-height: 1.6;
}

.left,
.right {
  flex: 1;
  min-width: 300px;

  @media screen and (max-width: 768px) {
    width: 100%;
    min-width: unset;
  }
}

.single .left,
.single .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
